// Colours
$color-bg: #222;
$color-fg: #ddd;
$color-face: #444;
$color-highlight: #c16;

$color-editor-bg: white;
$color-editor-fg: black;

// Fonts
$font-monospace: 'Source Code Pro', 'Monaco', 'Consolas', monospace;