@import 'lib/normalize';
@import '_vars.scss';
@import 'layouts/tabbed';
@import 'layouts/grid';

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 14px;

    background-color: $color-editor-bg;
}

.top {
    background-color: $color-bg;
    height: 40px;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: $font-monospace;
        color: #ccc;
        margin: 0;
        font-size: 26px;
        display: inline-block;
    }

    .menu-switcher {
        .menu-authed {
            display: none;
        }
        .menu-guest {
            display: block;
        }
    }
    .menu-switcher.authed {
        .menu-authed {
            display: block;
        }
        .menu-guest {
            display: none;
        }
    }

    .layout-switcher {
        float: right;
        margin-left: 10px;

        button {
            height: 15px;
            display: block;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0;
            min-width: 40px;

            &:first-child {
                margin-bottom: 3px;
            }
        }
    }
}

.editors {
    width: 100%;
    height: calc(100% - 40px);
}

.editor-container {
    height: 100%;

    .editor, iframe {
        width: 100%;
        height: 100%;
    }

    .editor {
        font-size: 15px;
        font-family: $font-monospace;
    }

    iframe {
        background-color: $color-editor-bg;
        color: $color-editor-fg;
    }
}

#signin-form {
    display: none;
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 30%;
    padding: 20px;
    z-index: 999;
    background-color: $color-bg;

    input[type=text], input[type=password] {
        width: 100%;
        border: none;
        padding: 5px 0;
        margin: 5px 0;
        background-color: transparent;
        color: white;
        border-bottom: 1px solid white;
    }

    input[type=checkbox] {
        display: none;

        & ~ label {
            &:before {
                content: '';
                display: inline-block;
                height: 15px;
                line-height: 15px;
                width: 15px;
                background-color: white;
                margin-right: 10px;
                vertical-align: middle;
                color: $color-face;
                text-align: center;
                font-size: 15px;
                border-radius: 50%;
                border: 2px white solid;
            }

            color: white;
        }

        &:checked ~ label:before {
            // content: '\2716';
            background-color: $color-face;
        }
    }
}

button {
    -webkit-appearance: none;
    background-color: $color-face;
    color: $color-fg;
    padding: 0 20px;
    border: 1px transparent solid;
    border-radius: 2px;
    height: 30px;
    font-weight: normal;
    transition: color 0.2s, border-color 0.2s;
    cursor: pointer;

    &:hover {
        border-color: $color-highlight;
        color: white;
    }
}
