body.grid {
    
    .editors {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .editor-container {
            height: 50%;
            width: 50%;
        }
    }

    .tab-container {
        display: none;
    }

    .layout-switcher button[value=grid] {
        border-bottom: 2px $color-highlight solid;
    }
}