body.tabbed {

    .editors {
        position: relative;

        .editor-container {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .tab-container {
        display: block;

        button {
            height: 35px;
            margin-top: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 4px transparent solid;
            min-width: 80px;

            &.active {
                border-bottom: 4px $color-highlight solid;
            }
        }
    }

    .layout-switcher button[value=tabbed] {
        border-bottom: 2px $color-highlight solid;
    }
}