// Colours
$color-bg: #222;
$color-fg: #ddd;
$color-face: #444;
$color-highlight: #c16;

// Go with the brower's default colours for the iframe.
$color-editor-bg: initial;
$color-editor-fg: initial;

// Fonts
$font-monospace: 'Source Code Pro', 'Monaco', 'Consolas', monospace;